<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Extra Page </title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bulma-divider.min.css">

    <style>
        nav.navbar {
            height: 6rem !important;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
        }
    </style>
</head>

<body>
    <section class="hero ">
        <div class="hero-body">
            <div class="container">
                <section class="section">
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            <div class="content is-medium">
                                <h2 class="subtitle is-4">Current date and time stamp</h2>
                                <h1 class="title">Hello User</h1>
                                <p>You can't View that page directly. Please Kindly Login</p>
                            </div>
                              <a href="/loginUser"><button class="button is-danger">Login-></button></a>   
                        </div>
                    </div>
                </section>
                <div class="is-divider"></div>
            </div>
        </div>
    </section>
</body>

</html>