{% extends 'basic.html' %}
{% block title %}Home{% endblock title %}

{% block body %}
<main>

  <div class="container marketing my-3">
    <div class="align-items-center">


      <!-- Three columns of text below the carousel -->
      <div class="row container align-items-center">
        <div class="col-lg-6">
          <!-- <img src="https://www." alt="logo" width="120"> -->
          
          <h2>Partner-1</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam impedit in unde tempore iure. Laudantium
            natus, quis assumenda est ut sapiente consequuntur esse.</p>
            <p><a class="btn btn-secondary" href="#">Any Link &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-6">
          <!-- <img class="rounded-circle" src="https://" alt="logo" width="120"> -->

          <h2>Partner 2</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis asperiores, molestiae cumque sed velit
            consectetur dignissimos iusto eligendi quia tempore perspiciatis neque a!</p>
          <p><a class="btn btn-secondary" href="#">Any Link &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>


    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="text-center">
      <h2>Employees</h2>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 text-center">
        <h2 class="featurette-heading">Employee 1 name
        </h2>
        <p class="lead">Some Info about him/her</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Employee 2 Name</h2>
        <p class="lead">Info About employee 2</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 text-center">
        <h2 class="featurette-heading">Employee 3 name
        </h2>
        <p class="lead">Some Info about him/her</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock body %}

{% block js %}
<script>

  console.log("Hello aunty")
</script>
{% endblock js %}